
#main {
    -fx-fill: #FFF;
    -fx-font-family: 'Inter';
}

#tab {
    -fx-background-color: #1f2020;
}

.button_off {
    -fx-background-color: #1f2020;
    -fx-font-size: 20px;
}

.button_onclick {
    -fx-background-color: #f71735;
}
