
.table-view {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.table-view .column-header-background {
    -fx-background-color: #623CEA;
    -fx-background-insets: 0;
    -fx-min-height: 35px;
    -fx-border-color: #623CEA;
    -fx-padding: 0;
}

.column-header > .label {
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-background-color: #623CEA;
    -fx-text-background-color: white;
    -fx-border-color: #623CEA;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    
}

.table-row-cell {
    -fx-cell-size: 35px;
}

.table-row-cell:filled:selected{
    -fx-background-color: #F71735;
    -fx-text-fill: white;
}
.table-row-cell:odd {
    -fx-background-color: #FFF;
}

.table-row-cell:even {
    -fx-background-color: #f2f2f2;
}

